<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <marquee behavior="slide" direction="">
    <img src="../images//1stimage.png" width="700px" alt="">
    <img src="../images//1stimage.png" width="700px" alt="">
    <img src="../images//1stimage.png" width="700px" alt="">
    <img src="../images//1stimage.png" width="700px" alt="">
    <img src="../images//1stimage.png" width="700px" alt="">
</marquee>
<main>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ut voluptas quibusdam vel nulla saepe ullam ratione optio officia. Eos odit cupiditate fugiat, provident dolorem quibusdam voluptas itaque tempora sint?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus fugit consequuntur illo laboriosam qui odio a magnam at iure ratione aperiam doloribus, necessitatibus error praesentium corrupti architecto quidem, beatae accusantium?</p>
</main>
</body>
</html>